{% for shape in snake_case_shapes -%}
{% set mod_name = shape -%}
{# {% set mod_file_name = name | lower -%} #}
{# #[path = "{{mod_name}}{{ path_delim }}{{ mod_file_name }}.rs"] #}
mod {{ mod_name }};
pub use {{ mod_name }}::*;
{% endfor %}